<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cookie Cookie</title>
    <script type="text/javascript" src="jquery-2.1.3.js"></script>
    <script type="text/javascript" src="cookies.js"></script>
  </head>
  <body>
    <h1>Choose your favorite cookie!</h1>
    <form action="/">
      <!-- Sugar Cookie -->
      <label for="sugar-cookie">sugar-cookie</label>
      <input type="number" name="sugar-cookie" id="sugar-quantity">
      <!-- Chocolate Cookie -->
      <label for="chocolate-cookie">chocolate-cookie</label>
      <input type="number" name="chocolate-cookie" id="chocolate-quantity">
      <!-- Lemon Cookie -->
      <label for="lemon-cookie">lemon-cookie</label>
      <input type="number" name="lemon-cookie" id="lemon-quantity">

      <!-- Submit Button -->
      <button id="btn">Submit!</button>
    </form>


    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
